@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*---------- VARIABLES CSS ---------*/
:root {
    --colorPrimario: #14213D;
    --colorSecundario: #000000;
    --colorTerciario: #FCA311;
    --colorCuatenario: #FFFFFF;
    --colorQuintenario: #E5E5E5;

    --fuenteInter: "Inter";
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--colorPrimario);
}

/*---------- ENCABEZADO ----------*/
.headerPag_nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    position: fixed;

    width: 100%;
    padding: 15px 0;
    top: 0;
    opacity: 0.95;

    background-color: var(--colorPrimario);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);  
}

.logo {
    width: 212px;
    height: 43px;
}

.headerPag_nav_div {
    display: flex;
    gap: 20px;
}

.headerPag_nav_div_link, .headerPag_nav_div_link_dif {
    color: var(--colorCuatenario);
    border-right: 2px solid var(--colorTerciario);

    font-weight: 300;
    font-size: 1.125rem;
    font-family: var(--fuenteInter);
    text-decoration: none;

    padding: 0 20px 0 0;
    
    transition: 0.3s;
}

.headerPag_nav_div_link_dif {
    border: none;
    padding: 0;
}

.headerPag_nav_div_link:hover{
    color: var(--colorTerciario);
}

.headerPag_nav_div_link_dif:hover {
    color: var(--colorTerciario);
}

.headerPag_nav_span {
    display: none;
}

.headerPag_nav_span:active {
    color: #FCA311;
}

/*---------- QUIEN SOY (BIENVENIDA) ----------*/
.bienvenidaDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;

    padding: 200px 0;  
}

.bienvenidaDiv_pre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px
}

h1 {
    font-size: 3.125rem;
    font-family: var(--fuenteInter);
   
    padding: 22px;
    border-radius: 0 50px 50px 0;

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
    border-left: 4px solid var(--colorTerciario);
    color: var(--colorCuatenario);
}

.bienvenidaDiv_decoracionText {
    color: var(--colorTerciario) ;
}

.robotPresentaGif {
    width: 300px;
}

.bienvenidaDiv_text {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: var(--fuenteInter);

    color: var(--colorQuintenario);
}

.botonProyectos {
    background-color: var(--colorTerciario);
    color: var(--colorSecundario);

    font-size: 1.5rem;
    font-family: var(--fuenteInter);
    font-weight: bold;
    text-decoration: none;

    padding: 24px;
    border-radius: 25px;

    transition: 0.5s;
}

.botonProyectos:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px var(--colorTerciario);
}

/*---------- LISTAS PROYECTOS ----------*/
.proyectos {
    padding: 40px 0;
}

.proyectos_titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.proyectos_titulo_texto {
    color: var(--colorTerciario);

    font-size: 2.5rem;
    font-family: var(--fuenteInter);
}

.proyectos {
    background-color: var(--colorSecundario);
}

.proyectos_lista {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;

    margin: 5% 10% 4% 10%;

    transition: 0.3s;
}

.proyectos_lista_principal {
    display: flex;
    flex-direction: column;
    gap: 20px;

    transition: 0.5s;
}

.proyectos_lista_principal_img {
    border-radius: 20px;
    width: 344px;
    padding: 20px;

    transition: 0.5s;

    border: 2px solid var(--colorSecundario);
    background-color: var(--colorPrimario);
}

.proyectos_lista_principal:hover {
    transform: translate(0, 3%);
    cursor: pointer;

    .proyectos_lista_principal_img {
        border: 2px solid var(--colorTerciario);
    }
}

.proyectos_lista_principal_proyecto {
    background-color: var(--colorPrimario);
    border: 2px solid var(--colorTerciario);

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    padding: 0px 10px 10px 10px;
    border-radius: 20px;
    height: 400px;
}

.proyectos_lista_principal_proyecto_nombre {
    font-size: 1.5rem;
    font-family: var(--fuenteInter);
    font-weight: bold;

    background-color: var(--colorTerciario);
    color: var(--colorSecundario);

    padding: 15px 20px 15px 20px;
    border-radius: 0 0 20px 20px;
}

.proyectos_lista_principal_proyecto_descripcion {
    font-size: 1.125rem;
    font-family: var(--fuenteInter);
    font-weight: 300;

    color: var(--colorQuintenario);

    width: 300px;
    text-align: justify;
}

h4 {
    font-size: 1.313rem;
    font-family: var(--fuenteInter);
    color: var(--colorCuatenario);
}

.proyectos_lista_principal_proyecto_tecnologias {
    width: 250px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.proyectos_lista_principal_proyecto_tecnologias_nombre {
    font-size: 0.938rem;
    font-family: var(--fuenteInter);
    font-weight: 300;

    color: var(--colorCuatenario);
    box-shadow: 0px 0px 5px 0px var(--colorSecundario);

    padding: 8px 15px;
    border-radius: 10px;
}

.iconGitHub {
    width: 40px;
}

.proyectos_lista_principal_github {
    color: var(--colorSecundario);
    background-color: var(--colorTerciario);

    font-weight: bold;
    font-size: 1.25rem;
    font-family: var(--fuenteInter);
    text-decoration: none; 

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 147px;
    padding: 10px 5px;
    border-radius: 20px;

    transition: 0.5s;
}

.proyectos_lista_principal_github:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0 var(--colorTerciario);
}

/*----------  SOBRE MI ----------*/
.sobreMi_titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;

    margin: 2% 0;
}

.sobreMi_titulo_texto {
    color: var(--colorTerciario);

    font-size: 2.5rem;
    font-family: var(--fuenteInter);
}

.sobreMi_presentacion {
    display: flex;
    justify-content: center;
    gap: 137px;
    margin: 5% 0;
}

.sobreMi_presentacion_foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.sobreMi_presentacion_foto_img {
    width: 200px;

    border-radius: 100px;
    border: 2px solid var(--colorTerciario);
}

.sobreMi_presentacion_foto_texto {
    color: var(--colorCuatenario);

    font-size: 2rem;
    font-family: var(--fuenteInter);
}

.sobreMi_presentacion_foto_redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 33px;
}

.sobreMi_presentacion_foto_redes_link {
    background-color: var(--colorTerciario);
    color: var(--colorSecundario);

    font-size: 1.5rem;
    font-family: var(--fuenteInter);
    font-weight: bold;
    text-decoration: none;

    padding: 10px 20px;
    border-radius: 30px;
    transition: 0.4s;

    display: flex;
    align-items: center;
    gap: 10px;
}

.sobreMi_presentacion_foto_redes_link:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0 var(--colorTerciario);
}

.sobreMi_presentacion_descripcion {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sobreMi_presentacion_descripcion_texto {
    color: var(--colorCuatenario);
    border-left: 4px solid var(--colorTerciario);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.8);

    font-size: 1.5rem;
    font-family: var(--fuenteInter);
    font-weight: 300;

    padding: 20px 30px;
    border-radius: 0px 50px 50px 0;
    width: 767px;
}

/*---------- TECNOLOGIAS QUE DOMINO (HERRMAINETAS, TECNOLOGIAS, DISEÑO) ----------*/
.herramientas {
    background-color: var(--colorSecundario);
    padding: 40px 0;
}

.herramientas_titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.herramientas_titulo_text {
    color: var(--colorTerciario);
    font-size: 2.5rem;
    font-family: var(--fuenteInter);
    font-weight: bold;
}

.herramientas_lista {
    display: flex;
    gap: 70px;
    justify-content: center;
    flex-wrap: wrap;

    margin: 5% 20%;
}

.herramientas_lista_li {
    display: flex;
    flex-direction: column;
    gap: 15px;

    transition: 0.4s;
}

.herramientas_lista_li:hover {
    transform: translate(0, 10%);
    .herramientas_lista_li_img {
        box-shadow: 0px 0px 20px 0px var(--colorTerciario);
    }
}

.herramientas_lista_li_img {
    width: 60px;
    padding: 20px 40px;
    border-radius: 20px;

    transition: 0.3s;

    border: 2px solid var(--colorTerciario); 
}

.herramientas_lista_li_nombre {
    background-color: var(--colorTerciario);
    font-size: 1.125rem;
    font-family: var(--fuenteInter);
    font-weight: bold;
    text-align: center;

    padding: 15px 0;
    border-radius: 20px;
}

/*---------- FOOTER (PIE DE PAGINA) ----------*/
footer {
    padding: 30px 0 20px 0 ;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footerContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
}

.logoFooter {
    width: 125px;
    height: 25px;
}

.copyright{
    font-size: 1.125rem;
    font-family: var(--fuenteInter);
    text-align: center;
    color: var(--colorCuatenario);
}

