@import "../styles/variables.css";

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/*----- STYLES SECTION PRESENTATION -----*/
.presentation {
    margin: 150px 0 0 0;

    display: flex;
    flex-direction: column;
    gap: 80px;
}

.presentation__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
}

.information-decoration {
    font-size: 1.25rem;
    font-family: var(--font-iceland);

    background-color: var(--quintenary-color);
    padding: 8px 40px;

    border: 1px solid var(--tertiary-color);
    border-radius: 20px;

    display: inline-block;
}

.information-decoration__text {
    color: var(--tertiary-color);
}

.presentation-information__title {
    font-size: 3.13rem;
    color: var(--secondary-color);
    font-family: var(--font-inter);
}

.presentation-information__title {
    margin: 44px 0;
}

.presentation-information__text {
    width: 530px;
    font-size: 1.5rem;
    color: var(--secondary-color);
    font-family: var(--font-inter);
    font-weight: 100;
}

.technologies-desc {
    display: flex;
    gap: 24px;

    margin-top: 40px;
}

.technologies-desc__text {
    font-size: 1.13rem;
    color: var(--secondary-color);
    font-family: var(--font-iceland);

    padding: 8px 20px;
    border-radius: 10px;

    background-color: var(--primary-color);
    box-shadow: 0px 0px 4px #E5E5E580;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 65px;
}

.presentation-image {
    width: 253px;

    border-radius: 200px;
    border: 2px solid var(--quintenary-color);
}

.presentation__button {
    font-size: 20px;
    font-family: var(--font-inter);
    font-weight: 700;
    color: #000000;
    text-decoration: none;

    padding: 22px 34px;
    background-color: var(--tertiary-color);

    border-radius: 20px;

    margin: 0 auto;
    transition: 0.5s;
}

.presentation__button:hover {
    background-color: var(--secondary-color);
}

/*---------- STYLES SECTION ABOUT ME ----------*/
.main-container {
    background-color: var(--primary-color);
}

.about-me {
    background-color: var(--quaternary-color);
    padding-top: 51px;
    padding-bottom: 82px;
}

.title-container {
    width: 151px;
    margin: 0 auto;
}

.title-container__title {
    font-size: 2.2rem;
    font-family: var(--font-inter);
    color: var(--secondary-color);
    margin: 0 0 13px 0;
}

.title-container__line {
    width: 58px;
    height: 5px;
    margin-left: 10px;

    border: none;
    border-radius: 10px;

    background-color: var(--tertiary-color);
}

.about-me__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    margin-top: 108px;
}

.information-decoration-margin {
    margin-left: 57px;
}

.text-me {
    border-radius: 10px;

    box-shadow: 0px 0px 2px var(--tertiary-color);
    margin: 35px 0;
    padding: 36px 34px;
    width: 753px;

    background-image: var(--url-background-image-secondary);
    background-size: 100%;

    display: flex;
    flex-direction: column;
    gap: 28px;
}

.text-me__paragraph {
    font-size: 1.13rem;
    font-family: var(--font-inter);
    color: var(--sextiary-color);
    font-weight: 300;  
}

.text-me__phrase {
    font-weight: 300;
    font-size: 1.13rem;
    font-family: var(--font-inter);
    color: var(--tertiary-color);
}

.text-container__line {
    border: none;
    border-radius: 10px;

    width: 238px;
    height: 5px;
    margin-left: 20px;
    
    background-color: var(--tertiary-color);
}

.skills {
    font-family: var(--font-inter);
    background-color: var(--primary-color);

    padding: 45px;
    border-radius: 20px;
    box-shadow: 5px 1px 10px #FCA31120;   
}

.skills__title {
    font-size: 1.25rem;
    color: var(--secondary-color);
}

.skills-list {
    list-style: none;
    margin-top: 42px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.skills-list__skill {
    font-size: 1.13rem;
    color: var(--secondary-color);

    font-weight: 300;
}

/*----- STYLES SECTION NETWORKS -----*/
.networks {
    padding-top: 65px;
    padding-bottom: 120px;
}

.title-container-networks-width {
    width: 167px;
}

.networks-container {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 63px;

    margin-top: 98px;
}

.network-git:hover, .network-linkedin:hover {
    .network-line {
        width: 181px;
    }
}

.network-git__information {
    background-color: var(--primary-color);

    font-size: 1.13rem;
    font-family: var(--font-iceland);
    color: var(--secondary-color);

    padding: 8px 0;
    border-radius: 20px;
    box-shadow: 2px 2px 8px #FCA31140;
    width: 169px;
    text-align: center;
    margin-bottom: 43px;
}

.network-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;

    padding: 18px 0;
    box-shadow: 0px 0px 2px var(--secondary-color);
    border-radius: 10px;
    width: 197px;

    background-color: var(--quaternary-color);
    margin-bottom: 19px;
    text-decoration: none;

    transition: 0.5s;
}

.network-link:hover {
    box-shadow: 0px 0px 2px var(--tertiary-color);
}

.network-link__image {
    width: 35px;
    height: 30px;
}

.network-link__text {
    font-size: 18px;
    font-family: var(--font-inter);
    color: var(--secondary-color);
    font-weight: 600;
}

.network-line {
    border: none;
    border-radius: 10px;

    width: 60px;
    height: 5px;

    background-color: var(--tertiary-color);
    margin-left: 8px;

    transition: 1s;
}
